THIS IS ONLINE SHOPPING PROJECT IMPLEMENTING IN MYSQL WITH PYTHON
-->Create a database as Shopping_db
-->we need to create 4 tables in that database 
 1.user
 2.products
 3.order
 4.order_items
-->As we can see that by using first table we can create an account
-->And also we can login the account taking username,password
-->By using second table we can put products into the table 
-->By using the second table we user can pic the item straight after the login
-->4th table is the place where the

In [2]:
import mysql.connector

In [13]:
def get_dbconnection():
    return mysql.connector.connect(
        host='localhost',
        user='root',
        password='teja@124298',
        database='shopping_db'
    )


def register():
    username=input("Enter username:")
    password=input("Enter password to set:")

    db=get_dbconnection()
    mycursor=db.cursor()
    try:
        mycursor.execute(
            "INSERT INTO users(username,password) VALUES(%s,%s)",(username,password))
        db.commit()
        print("Registration successful")
    except:
        print("username already exists")
    finally:
        db.close()
        

def login():
    username=input("Enter username:")
    password=input("Enter password:")

    db=get_dbconnection()
    mycursor=db.cursor()

    mycursor.execute("SELECT  user_id FROM users WHERE username=%s AND password=%s",(username,password))

    user_id=mycursor.fetchone()

    if user_id:
        print("Login successful")
        return user_id[0]
    else:
        print("Invalid details")
        return None


def view_products():
    db=get_dbconnection()
    mycursor=db.cursor()

    mycursor.execute("SELECT *FROM products")
    products=mycursor.fetchall()
    print("\n----products----")
    for p in products:
         print(f"ID:{p[0]} | {p[1]} | ₹{p[2]} | stock:{p[3]}")
    db.close()

def place_order(user_id):
    product_id=int(input("Enter the product id:"))
    quantity=int(input("Enter the quantity:"))

    db=get_dbconnection()
    mycursor=db.cursor()
    
    try:
        db.start_transaction()
        
        mycursor.execute("SELECT stock FROM products WHERE product_id=%s",(product_id,))
        result=mycursor.fetchone()
        if not result:
            print("Invalid product Id")
            return
        stock=result[0]
        
        
        if stock<quantity:
            print("Sorry!Out of stock")
            return
        
        
        mycursor.execute("INSERT INTO orders (user_id) VALUES(%s)",(user_id,))
        order_id=mycursor.lastrowid
        
        mycursor.execute("INSERT INTO order_items(order_id,product_id,quantity) VALUES(%s,%s,%s)",(order_id,product_id,quantity))
        
        mycursor.execute("UPDATE products SET stock=stock-%s WHERE product_id=%s",(quantity,product_id))
        
        db.commit()
        print("Ordered placed successfully,thanks for shopping")
        
    except Exception as e:
        db.rollback()
        print("Order failed",e)
    finally:
        db.close()

def main():
    while True:
        print("\n1.Register\n2.Login\n3.Exit")
        choice=input("Enter the choice:")
        
        if choice=='1':
            register()
        elif choice=='2':
            user_id=login()
            if user_id:
                while True:
                    print("\n1.View products\n2.place order\n3.Exit")
                    ch=input("Enter the choice:")
                    
                    if ch=='1':
                        view_products()
                    elif ch=='2':
                        place_order(user_id)
                    elif ch=='3':
                        print("Logged out")
                        break
                    else:
                        print("Invalid option")
        elif choice=='3':
            break
            


if __name__=="__main__":
    main()

1.Register
2.Login
3.Exit

Enter the choice: 2
Enter username: teja
Enter password: teja123

Login successful

1.View products
2.place order
3.Exit

Enter the choice: 1

----products----
ID:1 | MacBook Air M2 | ₹150000.00 | stock:40
ID:2 | MacBook Pro M3 | ₹210000.00 | stock:25
ID:3 | Dell XPS 13 | ₹145000.00 | stock:30
ID:4 | HP Spectre x360 | ₹165000.00 | stock:22
ID:5 | Lenovo ThinkPad X1 | ₹185000.00 | stock:18
ID:6 | Asus ZenBook 14 | ₹120000.00 | stock:33
ID:7 | Asus ROG Strix G16 | ₹195000.00 | stock:15
ID:8 | Acer Predator Helios | ₹170000.00 | stock:20
ID:9 | MSI Stealth 15 | ₹180000.00 | stock:14
ID:10 | Samsung Galaxy Book 3 | ₹135000.00 | stock:28
ID:11 | iPhone 15 Pro | ₹145000.00 | stock:60
ID:12 | iPhone 14 | ₹85000.00 | stock:45
ID:13 | Samsung Galaxy S24 | ₹125000.00 | stock:55
ID:14 | Samsung Galaxy Z Fold 5 | ₹165000.00 | stock:20
ID:15 | OnePlus 12 | ₹72000.00 | stock:65
ID:16 | Google Pixel 8 | ₹78000.00 | stock:40
ID:17 | Nothing Phone 2 | ₹45000.00 | stock:70
ID:18 | Xiaomi 14 Pro | ₹68000.00 | stock:50
ID:19 | Realme GT 6 | ₹42000.00 | stock:75
ID:20 | iQOO Neo 9 | ₹48000.00 | stock:60
ID:21 | iPad Pro 12.9 | ₹135000.00 | stock:35
ID:22 | iPad Air 5 | ₹72000.00 | stock:42
ID:23 | Samsung Galaxy Tab S9 | ₹98000.00 | stock:30
ID:24 | Lenovo Tab P12 Pro | ₹85000.00 | stock:25
ID:25 | Xiaomi Pad 6 | ₹32000.00 | stock:55
ID:26 | Apple Watch Ultra | ₹89000.00 | stock:50
ID:27 | Apple Watch Series 9 | ₹52000.00 | stock:65
ID:28 | Samsung Galaxy Watch 6 | ₹42000.00 | stock:58
ID:29 | Garmin Forerunner 265 | ₹47000.00 | stock:40
ID:30 | Fitbit Sense 2 | ₹38000.00 | stock:45
ID:31 | AirPods Pro | ₹28000.00 | stock:120
ID:32 | Sony WH-1000XM5 | ₹32000.00 | stock:80
ID:33 | Bose QC Ultra | ₹35000.00 | stock:70
ID:34 | JBL Live 660NC | ₹18000.00 | stock:90
ID:35 | Boat Rockerz 550 | ₹5000.00 | stock:200
ID:36 | Logitech MX Master 3S | ₹9500.00 | stock:150
ID:37 | Apple Magic Keyboard | ₹13500.00 | stock:90
ID:38 | Samsung 1TB SSD | ₹11000.00 | stock:200
ID:39 | Seagate 2TB HDD | ₹7200.00 | stock:160
ID:40 | Canon EOS R50 | ₹89000.00 | stock:28

1.View products
2.place order
3.Exit

Enter the choice: 2
Enter the product id: 12
Enter the quantity: 2

Ordered placed successfully,thanks for shopping

1.View products
2.place order
3.Exit

Enter the choice: 3

Logged out

1.Register
2.Login
3.Exit

Enter the choice: 3