In [1]:
import mysql.connector

In [ ]:
db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='teja@124298'
)
mycursor=db.cursor()
mycursor.execute('CREATE DATABASE shopping_db')

In [8]:
db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='teja@124298',
    database='shopping_db'
)
mycursor=db.cursor()

In [9]:
mycursor.execute("""CREATE TABLE users(
      user_id INT AUTO_INCREMENT PRIMARY KEY,
      username VARCHAR(60) UNIQUE NOT NULL,
      password VARCHAR(50) NOT NULL
)""")

In [10]:
mycursor.execute("""CREATE TABLE products(
        product_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        price DECIMAL(10,2),
        stock INT
)""")

In [11]:
mycursor.execute("""CREATE TABLE orders(
       order_id INT AUTO_INCREMENT PRIMARY KEY,
       user_id INT,
       order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
       FOREIGN KEY(user_id) REFERENCES users(user_id)
)""")

In [16]:
mycursor.execute("""CREATE TABLE order_items(
       item_id INT AUTO_INCREMENT PRIMARY KEY,
       order_id INT,
       product_id INT,
       quantity INT,
       FOREIGN KEY(order_id) REFERENCES orders(order_id),
       FOREIGN KEY(product_id) REFERENCES products(product_id)
       )""")

In [2]:
db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='teja@124298',
    database='shopping_db'
    )
mycursor=db.cursor()

In [4]:
quiery="INSERT INTO products(name,price,stock) VALUES(%s,%s,%s)"
values = [
    ('MacBook Air M2', 150000, 40),
    ('MacBook Pro M3', 210000, 25),
    ('Dell XPS 13', 145000, 30),
    ('HP Spectre x360', 165000, 22),
    ('Lenovo ThinkPad X1', 185000, 18),
    ('Asus ZenBook 14', 120000, 35),
    ('Asus ROG Strix G16', 195000, 15),
    ('Acer Predator Helios', 170000, 20),
    ('MSI Stealth 15', 180000, 14),
    ('Samsung Galaxy Book 3', 135000, 28),

    ('iPhone 15 Pro', 145000, 60),
    ('iPhone 14', 85000, 45),
    ('Samsung Galaxy S24', 125000, 55),
    ('Samsung Galaxy Z Fold 5', 165000, 20),
    ('OnePlus 12', 72000, 65),
    ('Google Pixel 8', 78000, 40),
    ('Nothing Phone 2', 45000, 70),
    ('Xiaomi 14 Pro', 68000, 50),
    ('Realme GT 6', 42000, 75),
    ('iQOO Neo 9', 48000, 60),

    ('iPad Pro 12.9', 135000, 35),
    ('iPad Air 5', 72000, 42),
    ('Samsung Galaxy Tab S9', 98000, 30),
    ('Lenovo Tab P12 Pro', 85000, 25),
    ('Xiaomi Pad 6', 32000, 55),

    ('Apple Watch Ultra', 89000, 50),
    ('Apple Watch Series 9', 52000, 65),
    ('Samsung Galaxy Watch 6', 42000, 58),
    ('Garmin Forerunner 265', 47000, 40),
    ('Fitbit Sense 2', 38000, 45),

    ('AirPods Pro', 28000, 120),
    ('Sony WH-1000XM5', 32000, 80),
    ('Bose QC Ultra', 35000, 70),
    ('JBL Live 660NC', 18000, 90),
    ('Boat Rockerz 550', 5000, 200),

    ('Logitech MX Master 3S', 9500, 150),
    ('Apple Magic Keyboard', 13500, 90),
    ('Samsung 1TB SSD', 11000, 200),
    ('Seagate 2TB HDD', 7200, 160),
    ('Canon EOS R50', 89000, 28)
]
mycursor.executemany(quiery,values)
db.commit()